<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>
<div class="container top-buffer">
    <div class="row">
        <div class="col-8">
            <h1 th:text="${event.name}" ></h1>
            <h5 th:text="'Created by: ' + ${creatorName}" ></h5>
        </div>
    </div>
    <h5 th:text="${event.formattedDate}"></h5>
    <h5 th:text="'Location: ' + ${event.location}"></h5>
    <h5 th:unless="${session.id}">Sign Up or Log In to join an event!</h5>
    <a th:if="${session.id} and !${isAttending}"
            th:href="@{${event.id} + '/join'}" class="btn btn-primary">Join Event</a>
    <a th:if="${session.id} and ${isAttending}"
       th:href="@{${event.id} + '/leave'}" class="btn btn-primary">Leave Event</a>
    <h6 th:text="${event.description}"></h6>

    <!-- Tabs for Attendance List and Event Discussion -->
    <div th:if="${session.id} and ${isAttending}">
        <ul class="nav nav-tabs" id="myTab"> <!--Trying with nav-tabs instead of nav-pills -->
            <li class="nav-item event-tab active">
                <a class="nav-link " data-toggle="tab" href="#attendees">People Attending</a>
            </li>
            <li class="nav-item event-tab">
                <a class="nav-link" data-toggle="tab" href="#discussion">Event Discussion</a>
            </li>

        </ul>

        <div class="tab-content">
            <div id="attendees" class="tab-pane active">
                <h2>People Attending</h2>
                <div class="col">
                    <div th:each="user : ${attendees}">
                        <h6 th:text="${user.firstName} + ' ' +${user.lastName}"></h6>
                    </div>
                </div>
            </div>

            <div id="discussion" class="tab-pane">
                <h2>Comments</h2>
                <div class="col">
                    <a th:href="@{${event.id} + '/addComment'}" class="btn btn-primary">Add Comment</a>
                    <ul>
                        <li th:each="comment : ${commentList}">
                            <h5 th:text="${comment.author.firstName} +' '+ ${comment.author.lastName}"></h5>
                            <h6 th:text="${comment.text}"></h6>
                            <h6 th:text="${comment.dateTime}"></h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>





</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



<script>
   $('#myTab a').click(function (e) {
     e.preventDefault()
     $(this).tab('show')
   })
</script>

</body>
</html>