<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${event.name}"></h1>
    <h4 th:text="'Created by: ' + ${creatorName}"></h4>
    <h5 th:text="${event.formattedDate}"></h5>
    <h5 th:text="'Location: ' + ${event.location}"></h5>
    <h5 th:unless="${session.id}">Sign Up or Log In to join an event!"</h5>
    <a th:if="${session.id} and !${isAttending}"
            th:href="@{${event.id} + '/join'}" class="btn btn-primary">Join Event</a>
    <a th:if="${session.id} and ${isAttending}"
       th:href="@{${event.id} + '/leave'}" class="btn btn-primary">Leave Event</a>
    <h6 th:text="${event.description}"></h6>

<br><br>
<div>
<h2>Users that have joined this event</h2>
    <div th:each="user : ${attendees}">
        <h6 th:text="${user.firstName} + ' ' +${user.lastName}"></h6>
    </div>
</div>
<div th:if="${session.id} and ${isAttending}">
    <h2>Comments</h2>
    <a th:href="@{${event.id} + '/addComment'}" class="btn btn-primary">Add Comment</a>
    <ul>
        <li th:each="comment : ${commentList}">
            <h5 th:text="${comment.author.firstName} +' '+ ${comment.author.lastName}"></h5>
            <h6 th:text="${comment.text}"></h6>
            <h6 th:text="${comment.dateTime}"></h6>
        </li>
    </ul>
</div>
</body>
</html>